*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-color: rgba(77, 71, 71, 0.849);
}

h1{
    text-align: center;
    font-family: 'Original Surfer', cursive;
    padding-bottom: 40px;
    color: red;
    background-color: black;
    padding: 20px 20px;
    border-bottom: 2px solid white;
}
h2{
    text-align: center;
    font-family: 'Zen Dots', cursive;
    padding-bottom: 40px;
    color: red;
    padding: 20px 20px;
    border-bottom: 2px solid white;
}
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: black;
}
#sidebar ul li{
    list-style: none;
    padding: 20px 20px;
    border-bottom: 2px solid white;
    font-family: 'Zen Dots', cursive;
    color: red;

}
#sidebar ul li:hover{
    background-color: red;
    color: black;

}

.logout{
    margin-left: 800px;
    color: white;
    background-color: firebrick;
    font-size: large;
    border-radius: 10px;
}
span{
    color: rgb(85, 204, 91);
}
button{
    background-color: black;
    color: red;
    font-family: 'Zen Dots', cursive;
    text-align: center;
}
.header{
    background-color: black;
}
p{
    margin-left: 230px;
    color: chartreuse;
    font-weight: bold;
    font-style: italic;
}
input{

    font-size: xx-large;
    color: rgb(226, 181, 181);
    background-color: rgb(49, 45, 45);
    border-radius: 10px;
    border-color: white;
    font-family: 'Zen Dots', cursive;
    margin-left: 290px;
    margin-top: 50px;
}
label{
    margin-top: 50px;
    margin-left: 300px;
    color: black;
    font-family: 'Zen Dots', cursive;
    font-size: xx-large;
    padding-right: 40px;
}
input:hover{
    background-color: red;
    color: black;
}
.submitbtn{
    margin-left: 470px;
}