body{
    background-image: url(/img/register.jpg);
    margin: inherit;
    margin-left: 500px;
    margin-top: 150px;
    padding: 50px; 
}
input{
    font-family: 'Zen Dots', cursive;    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(230, 235, 234);
}

label{
    font-family: 'Zen Dots', cursive;    font-size: x-large;
    font-weight: bolder;
    color: black;
    padding-bottom: 20px;
}
button{
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(231, 155, 101);
    margin-left: 200px;
}
.check{
    font-size: x-large;
    border-radius: 10px;
}



