<div class="header">
        <h2><span><i class="fa fa-globe" aria-hidden="true"></i></span> Global connect <span><button class="logout">Logout</button></span></h2>
    </div>
    <div id="sidebar">
        <ul>
            <li><span class="fa fa-home" aria-hidden="true"></i></span><button id="sideHome">HOME</button></li>
            <li><span><i class="fa fa-lock" aria-hidden="true"></i></span><button id="sideAdmin">ADMIN</button></li>
            <li><span><i class="fa fa-user" aria-hidden="true"></i></span><button>VENDOR</button></li>
            <li><span><i class="fa fa-product-hunt" aria-hidden="true"></i></span><button>PRODUCT</button></li>
            <li><span><i class="fa fa-adn" aria-hidden="true"></i></span><button>AD</button></li>
        </ul>
    </div>