<html>

    <head>
        <title>Admin Page</title>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/admin.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&family=Zen+Dots&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./js/admin.js"></script>
    </head>

    <body>
        <div>
            <h1>Welcome to Admin Page</h1>
        </div>
        {{>menu}}
        <div>
            <span>
                <input type="button" value="Delete" class="deletBtn">
                <input type="button" value="Add Admin" class="adminBtn">
                <input type="button" value="Edit" class="editBtn">
            </span>
        </div>
        <div class="admintable">
            <table class="tableIn">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each adminArr}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td><input type="checkbox" id="{{this._id}}"></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </body>

</html>