<html>
    <head>
        <title>Forget password</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Zen+Dots&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/forget.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet"> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./js/forget.js"></script>


    </head>
    <body>
        <form>
            <div>
                <label>USERNAME : </label>
                <input type="text" placeholder="username" id="userName"><br><br>
                <label>NEW PASSWORD : </label>
                <input type="password" placeholder="password" id="passWord1"><br><br>
                <label>CONFIRM PASSWORD :</label>
                <input type="password" placeholder="reenter password" id="passWord2"><br><br>
                <input type="checkbox" id="checkclk"><b>Show password</b><br><br><br>
                <input type="button" value="Reset" id="btnclk">
            </div>
        </form>

    </body>
</html>