<html>

<head>
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/home.js"></script>
</head>

<body>
    <div><h1>Welcome to Admin Page</h1></div>

    {{>menu}}

    <div class="details">
        <p>GlobalConnects’s fiber network consists of a backbone connecting local networks to the major cities in Sweden, Norway, Finland, Denmark and Germany and wavelengths in several European cities, allowing you to reach almost any destination in the Nordics. The entire network is managed, operated and monitored 24/7 by highly skilled technicians. And together with the in-house First Line Maintenance team you won’t even need to be physically present.</p>
    </div>
</body>

</html>