<html>

<head>
    <title>Login page</title>
    <i class="far fa-address-card"></i>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/login.js"></script>
</head>

<body class="image">
    <div>
        <i class="fa fa-user fa-2x cust" aria-hidden="true"></i>
        <input type="text" placeholder="Username" class="box" id="userName"><br><br>
        <i class="fa fa-lock fa-2x cust" aria-hidden="true"></i>
        <input type="password" placeholder="Password" class="box" id="passWord"><br><br>
        <input type="checkbox" id="showPswd"><b>Show password</b>
        <input type="checkbox" id="rememberMe"><b>Remember me</b><br><br><br>
        <button id="loginBtn">Login</button><br><br>
        <a href="/forget">Forget password</a><br>
        <a href="/register">Register</a>

    </div>

</body>

</html>