<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="./css/register.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./js/register.js"></script>

    </head>
    <body>
        <form>
            <div>
                <label>USERNAME : </label>
                <input type="text" placeholder="username"><br><br><br>
                <label>PASSWORD : </label>
                <input type="password" placeholder="password" id="passWord1"><br><br><br>
                <label>RE-ENTER PASSWORD :</label>
                <input type="password" placeholder="reenter password" id="passWord2"><br><br>
                <input type="checkbox" id="checkclk"><b>Show password</b><br><br><br>
                <input type="button" value="REGISTER" id="btnclk"><br><br>
                <a href="http://localhost:2000/"><b>Back to login page</b></a>
            </div>
        </form>

    </body>
</html>